body {

    background-image: url(../imagen_fundo/rique.jpg);
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    



}

.cabeçalho {

    background-image: url(../assets/sanchezz.jpg);
    width: 100%;
    height: 80px;
    background-repeat: repeat;
    border: 1px double lime;
    padding-top: 3px;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    z-index: 3;
   



}

.social{

    background-color: #00BFFF;
    width: fit-content;
    border-radius: 10px;
    margin-left: 3px;
    height: 34px;
    
    

}

.social:hover {
    background-color: #40E0Dd;

}
.cabeca{

    background-color: #49a4ffdd;
    font-size: 18px;
    font-weight: bold;
    height: 90px;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    width: fit-content;
    
    
}



.cabeca:hover {
    background-color: #40E0Dd;


}

.cabeca:active{

    background-color: lime;

}

.texto {
    font-style: italic;
    color: blue;

}


.link{

    text-decoration: none;
    color: limegreen;
    font-weight: 900;
    text-shadow: 1px 2px black;

}
.link:hover{

    background-color: lime;
    text-decoration: none;
    border-radius: 11px;
    padding: 1px;
    color: black;
    text-shadow: none;
}

.rick2{

    margin-top: 10px;
    background-color: #00BFFF;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin-right: 6px;
    border: 1px black solid;
}


.rick2:active{

    background-color: #30be30;
    



}




.rick1 {
    background-color: #49a4ffbb;
    width: 600px;
    margin: auto;
    padding-bottom: 5px;
    font-family: 'Yatra One', cursive;
    padding: 5px;
    padding-top: 5px;
    border-radius: 15px;
   
    


}

.rick1:hover {

    background-color: #33c7c7;
}

.rick1:active {

    background-color: lime;
}

#informaçãobio{
    height: 20px;
    background-color: #00BFFF;
    width: 200px;
    margin: auto;
    border-radius: 11px;
    border: solid 1px black;
    padding: 1px;
    

}

#informaçãobio:active{

    background-color: #30be30;
    
}

.mae{

    background-image: url(../imagen_fundo/rickk.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    width: 1000px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    
    
    
    


}

#beth {
    list-style-image: url("../assets/icons8-beth-smith-30.png");
}

#morty {
    list-style-image: url("../assets/icons8-morty-smith-30.png");
}

#jerry {
    list-style-image: url("../assets/icons8-jerry-smith-30.png");
}

#summer {
    list-style-image: url("../assets/icons8-summer-smith-30.png");
}

li {
    font-family: 'Yatra One', cursive, Arial, sans-serif;
    font-size: 14px;
}





#biografia {
    background-color: #00BFFf;
    width: 80%;
    height: 208px;
    overflow-y: auto;
    font-size: 15px;
    text-indent: 15px;
    font-family: 'Yatra One', cursive, Arial, sans-serif;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    transform: translate(5px);
    box-sizing: border-box;
    
    



}

#biografia:hover{
    background-color: #40E0Dd;
}

.prick {
    font-family: 'Yatra One', cursive;
    width: 100%;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
   
    
    
}

.prick2 {
    height: 200px;
    width: 100px;
    border: 2px solid black;
    float: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #00BFFf;
    font-size: 11px;
    padding-bottom: 0px;
    
    
  
    
    
}



.prick2:hover{
        background-color:#40E0Dd;

}

@media screen and (max-width: 800px) {

    .cabeca{
    background-color: #49a4ff;
    overflow: auto;
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    

    
    }

    .mae{

        background-image: url(../imagen_fundo/rickk.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 20px;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        
    
    }


    .rick1 {
    background-color: #49a4ff;
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    font-family: 'Yatra One', cursive;
    padding: 5px;
    padding-top: 5px;
    border-radius: 15px;
    font-size: 16px;
    text-indent: 10px;
    } 

    

    .rick2{

        margin-top: 5px;
        background-color: #00BFFF;
        width: 150px;
        padding: 5px;
        border-radius: 10px;
        float: none;
        margin: auto;
        border: 1px black solid;
        margin-top: 5px;
        transform: translateY(-30px);
    }
    ul{
        
        
        text-align: center;
        transform: translate(-50px, -20px);
        font-size: 14px;
        text-align: left;
        
        
        

        }

    li{
        list-style: inside;
        text-align: justify;
        
        
    }

    #informaçãobio{
        background-color: #00BFFF;
        width: 50%;
        height: fit-content;
        margin: auto;
        border-radius: 11px;
        border: solid 1px black;
        padding: 1px;
        transform: translateY(215px);
        font-size: 14px;
        
        position: relative;
        top: 10px;
        

        
        
        
    
    }

    .prick2 {
        height: fit-content;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid black;
        padding: 3px;
        border-radius: 5px;
        background-color: #00BFFf;
        font-size: 14px;
        padding-bottom: 0px;
        text-align: center;
        
        
        
        
    }

    #biografia {
        background-color: #00BFFf;
        width: 100%;
        height: 208px;
        overflow-y: auto;
        font-size: 15px;
        text-indent: 15px;
        border: 2px solid;
        border-radius: 5px;
        padding: 10px;
        transform: translatex(1px);
        box-sizing: border-box;
        transform: translateY(1px);
        
       
        
        
        
    
    }
     .social:hover{

        background-color: lime;
        
     }
     .paragrafo{
         overflow: auto;
         height: 350px;
         padding-top: 10px;
         transform: translateY(15px);
         border: 1px solid black;
         border-radius: 9px;
         padding: 6px;
         font-size: 15px;
         
     } 

        
         #ft{
            font-weight: bold;
            width: 100px;
            height: 15px;
            font-size:11px;
             
        }
        
        #fp{
            background-color: #00BFFf; 
            width: 50px;
            height: 20px;
            font-size: 8px;


     }


     #informação{
         
        right: 420px;
        font-size: 11px;
        width: 60px;
        
        
        
        }   

    #email, #senha, #nome {

            font-family:  'Yatra One', cursive, Arial, sans-serif;
            font-size: 11px;
            width: 100px;
            height: 15px;
            
            
            
            
        } 

        .info{

            float: left;
             

            
        }

        #imagen{

            width: 15px;
            left: -70px;
            transform: translateY(-5px);
            
             
            
        }
        #entrar{

            font-family:'Yatra One', cursive, Arial, sans-serif;
            left: -22px;
            bottom: 25px;
            
        
        }

        #criarconta{
            font-family: 'Yatra One', cursive, Arial, sans-serif;
            left: 50px;
            bottom: 45px;
            
            
            
        
        
        }
        
}

 .pesquisa{

    float: right;
    transform: translate(10px, -8px);
    
    
    
 }

 #ft{
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Yatra One', cursive, Arial, sans-serif;
     
}

#fp{
    background-color: #00BFFf;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Yatra One', cursive, Arial, sans-serif;
    
    


}
#fp:hover{
    background-color: lime;    

}


#informação{
position: absolute;
transform: translatex(360px);
top: 70px;
font-family: 'Yatra One', cursive, Arial, sans-serif;
text-align: right;




}

#email, #senha, #nome{

    border-radius: 10px;
    font-family:  'Yatra One', cursive, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    border: none;
    
    
}

#entrar{

    font-family:'Yatra One', cursive, Arial, sans-serif ;
    font-size: 13px;
    color: lime;
    position: relative;
    right: 20px;
    

}
#entrar:hover{

    text-decoration: underline;
    
}

#criarconta{
    font-family: 'Yatra One', cursive, Arial, sans-serif;
    font-size: 13px;
    color: lime;
    position: relative;
    right: 10px;
    text-decoration: none;


}
#criarconta:hover{

    background-color: lime;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;

}

#imagen{

    position: relative;
    top: 4px;
    width: 18px;
    right: 15px;
}
 .info{

    text-align: left;
    font-size: 13px;
 }

 #liki{

    text-decoration: none;
 }

