body {

    background-image: url(../imagen_fundo/rique.jpg);
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    
    
    
}
.cabeçalho{

    background-image: url(../assets/sanchezz.jpg);
    width: 100%;
    height: 80px;
    background-repeat: repeat;
    border: 1px double lime;
    padding-top: 3px;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    
}
.social{

    background-color: lime;
    width: fit-content;
    border-radius: 10px;
    margin-left: 3px;
    
}


.cabeca{

    background-color: limegreen;
    font-size: 18px;
    width: fit-content;
    height: 110px;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 20px;
    
    
    
}

.cabeca:hover{
    background-color: lime;


}
.cabeca:active{

    background-color:#FF00FF;
    
}

.texto {
    font-weight: 900;
    color: blue;

}


a{

    text-decoration: none;
    color: deeppink;
    font-weight: 900;
    text-shadow: 1px 1px black;
    
}
a:hover{

    color: #FF00FF;
    text-decoration: underline;
}

.rick2 {
    margin: auto;
    margin-top: 10px;
    background-color: deeppink;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin-right: 6px;
    
    
    
}
.rick2:hover{
    background-color: 	#FF00FF;



}
.rick2:active{

    background-color: lime;
}

.rick1 {
    background-color: limegreen;
    width: 600px;
    margin: auto;
    padding-bottom: 5px;
    font-family: 'Yatra One', cursive;
    padding: 5px;
    padding-top: 5px;
    border-radius: 15px;
    
    
}



.rick1:hover{
    background-color: lime;
}

.rick1:active{

    background-color: #FF00FF;
}

.mae{

    background-image: url(../imagen_fundo/rickk.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    width: 1000px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    
   
}
#beth{
    list-style-image: url("../assets/icons8-beth-smith-30.png");
}
#morty{
    list-style-image: url("../assets/icons8-morty-smith-30.png");
}
#jerry{
    list-style-image: url("../assets/icons8-jerry-smith-30.png");
}
#summer{
    list-style-image: url("../assets/icons8-summer-smith-30.png");
}
    




.biografia{ 
    background-color: deeppink;
    width: 450px;
    height: 200px;
    overflow-y: auto;
    font-size: 16px;
    text-indent: 15px;
    font-family: 'Yatra One', cursive, Arial, sans-serif ;
    border-style: solid;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 2px;
    bottom: 5px;
    box-sizing: border-box;
    
    
    
}
.biografia:hover{
    background-color: #FF00FF;
}
.prick{
    font-family: 'Yatra One', cursive;
    font-size: 14px;
    width: 600px;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
}

.prick2{
    height: 200px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: deeppink;
    font-size: 11px;
    padding-bottom: 0px;
    padding-top: 2px;
    
    
    
}
.prick2:hover{
    background-color: #FF00FF;

}

